*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  transition: ease-in 1s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-family: "Ledger", serif;
  margin: 0;
}

h1,
h3 {
  margin-top: 1.2em;
  color: white;
}

h3 {
  line-height: 1.5;
}

p {
  line-height: 1.8;
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
}

.no-space-out {
  margin: 0 !important;
}

.no-space-in {
  padding: 0 !important;
}

input[type="text"] {
  padding: 7px 13px;
  border-radius: 4px;
  border: 1px solid #DDD;
}

input[disabled] {
  background: #F7F8FA;
  border: none;

}


@media only screen and (max-width: 1024px) {
  #container__table {
    max-width: 75%;
  }

  #editUserContainer {
    background-color: #2B2B2B;
  }

  #editForm {
    width: 95%;
  }

  #innerShell,
  #editUserWrapper {
    max-width: 100%;
    width: 100%;
  }

  #innerShell {
    background: #f7841e;
  }

  #editTitle {
    font-size: 28px;
  }

  #modalTitle {
    text-align: center;
    font-size: 22px;
  }

  #previewTable {
    margin: 0;
    max-height: 850px;
  }

  #previewButtonReturn {
    margin-top: 1.25em;
    margin-left: 0;
  }
}


.has-full-width {
  min-width: 100%;
}

.has-full-height {
  height: 100vh;
}

.has-background-color {
  background:#2B2B2B;
}

.has-text-left {
  text-align: left;
  width: 100%;
}

.has-scroll {
  overflow: scroll;
}

.has-margin-bottom {
  margin-bottom: 1.2em;
}

.has-fixed-height {
  max-height: 550px;
  height: 100%;
}

.has-dark-text {
  background: black !important;
}

.has-side-borders {
  border-left: 1px solid rgb(58, 58, 58) !important;
  border-right: 1px solid rgb(58, 58, 58) !important;
}

.is-relative {
  position: relative;
  left: 50%;
  right: 50%;
}

.is-centered {
  display: flex;
  justify-content: center;
}

.is-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.is-evident {
  font-size: 22px;
  font-weight: bolder;
  margin-right: 1em;
}

.is-open {
  opacity: 1 !important;
  pointer-events: all !important;
}

.button__edit {
  padding: .5em .75em;
  display: inline-block;
  width: 100%;
  border: none;
  text-align: center;
  border-radius: 3px;
  background: #FE761C;
  color: white;
  text-decoration: none;
}

.button__return {
  padding: .5em .75em;
  display: inline-block;
  border: none;
  text-align: center;
  border-radius: 3px;
  background: #FE761C;
  color: white;
  text-decoration: none;
  margin-left: 2.3em
}

.button__edit:hover,
.button__return {
  filter: brightness(0.9);
}


/* Material UI buttons overwrite */
.button__unicode {
  background-color: transparent !important;
  min-width: unset !important;
  width: 35px;
  height: 35px;
  padding: .5em !important;
  border-radius: 50% !important;
  border: 1px solid lightslategray !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root,
.css-8je8zh-MuiTouchRipple-root {
  font-weight: bolder !important;
  color: #000 !important;
  font-size: 1em !important;
}


/* -----  */

.table__wrapper {
  margin: 2.5em;
  max-width: 95%;
  width: 100%;
}

.table__head {
  background: #2B2B2B;
}

.css-1ygcj2i-MuiTableCell-root {
  color: white !important;
  font-weight: bolder !important;
}

.css-zcbmsk-MuiButtonBase-root-MuiButton-root {
  background: #EC644B !important;
}

.css-rqglhn-MuiTable-root {
  width: 40% !important;
}

.css-1ex1afd-MuiTableCell-root {
  text-align: center !important;
  line-height: 5.3 !important;
  color: white !important;
  padding: 0 16px !important
}

